@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

$primary-color: #4c16c9;
$primary-text-color: #0c1932;

// colors
$color-white: #ffffff;
$color-light-gray: #f5f7fa;

//font
$primaryFont: "Poppins", sans-serif;

$movieHeight: 160px;
$movieWidth: 240px;


